{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ asset('bundles/app/bootstrap/css/bootstrap.css') }}"
    />

    <link
        rel="stylesheet"
        type="text/css"
        href="{{ asset('bundles/app/font-awesome/css/font-awesome.css') }}"
    />

    <link
        rel="stylesheet"
        type="text/css"
        href="{{ asset('bundles/asset/css/styles.css') }}"
    />


{% endblock %}

{% block fos_user_content %}


{# <form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form> #}
{# using bootstrap #}
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="wrapper panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-users"></i>
            SKnotor
        </div>
        <div class="panel-body">
            <div class="avatar">
                <i class="fa fa-user fa-5x"></i>
                <br/>
                Admin
            </div>

            <div class="form-group">
                <label for="username">
                    {{ 'security.login.username'|trans }}
                </label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="_username"
                    value="{{ last_username }}"
                    required="required"
                >
            </div>

            <div class="form-group">
                <label for="password">
                    {{ 'security.login.password'|trans }}
                </label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="_password"
                    required="required"
                >
            </div>

            <div class="checkbox">
                <label>
                    <input
                        type="checkbox"
                        id="remember_me"
                        name="_remember_me"
                        value="on"
                    > Remember me
                </label>
            </div>
            <button
                type="submit"
                class="btn btn-primary"
                id="_submit"
                name="_submit"
                value="{{ 'security.login.submit'|trans }}"
                >Login
            </button>
            {% if error %}
                <div>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        </div>

    </div>
</form>
{# end bootstrap #}
{% endblock fos_user_content %}
